.deo-row {
	--deo-gutter-x: 1.5rem;
	--deo-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--deo-gutter-y));
	margin-right: calc(-0.5 * var(--deo-gutter-x));
	margin-left: calc(-0.5 * var(--deo-gutter-x));
}
.deo-row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--deo-gutter-x) * 0.5);
	padding-left: calc(var(--deo-gutter-x) * 0.5);
	margin-top: var(--deo-gutter-y);
}

.deo-col {
	flex: 1 0 0%;
}

.deo-row-cols-auto > * {
	flex: 0 0 auto;
	width: auto;
}

.deo-row-cols-1 > * {
	flex: 0 0 auto;
	width: 100%;
}

.deo-row-cols-2 > * {
	flex: 0 0 auto;
	width: 50%;
}

.deo-row-cols-3 > * {
	flex: 0 0 auto;
	width: 33.3333333333%;
}

.deo-row-cols-4 > * {
	flex: 0 0 auto;
	width: 25%;
}

.deo-row-cols-5 > * {
	flex: 0 0 auto;
	width: 20%;
}

.deo-row-cols-6 > * {
	flex: 0 0 auto;
	width: 16.6666666667%;
}

.deo-col-auto {
	flex: 0 0 auto;
	width: auto;
}

.deo-col-1 {
	flex: 0 0 auto;
	width: 8.33333333%;
}

.deo-col-2 {
	flex: 0 0 auto;
	width: 16.66666667%;
}

.deo-col-3 {
	flex: 0 0 auto;
	width: 25%;
}

.deo-col-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.deo-col-5 {
	flex: 0 0 auto;
	width: 41.66666667%;
}

.deo-col-6 {
	flex: 0 0 auto;
	width: 50%;
}

.deo-col-7 {
	flex: 0 0 auto;
	width: 58.33333333%;
}

.deo-col-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.deo-col-9 {
	flex: 0 0 auto;
	width: 75%;
}

.deo-col-10 {
	flex: 0 0 auto;
	width: 83.33333333%;
}

.deo-col-11 {
	flex: 0 0 auto;
	width: 91.66666667%;
}

.deo-col-12 {
	flex: 0 0 auto;
	width: 100%;
}

@media (min-width: 600px) {
	.deo-col-sm {
		flex: 1 0 0%;
	}
	.deo-row-cols-sm-auto > * {
		flex: 0 0 auto;
		width: auto;
	}
	.deo-row-cols-sm-1 > * {
		flex: 0 0 auto;
		width: 100%;
	}
	.deo-row-cols-sm-2 > * {
		flex: 0 0 auto;
		width: 50%;
	}
	.deo-row-cols-sm-3 > * {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.deo-row-cols-sm-4 > * {
		flex: 0 0 auto;
		width: 25%;
	}
	.deo-row-cols-sm-5 > * {
		flex: 0 0 auto;
		width: 20%;
	}
	.deo-row-cols-sm-6 > * {
		flex: 0 0 auto;
		width: 16.6666666667%;
	}
	.deo-col-sm-auto {
		flex: 0 0 auto;
		width: auto;
	}
	.deo-col-sm-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}
	.deo-col-sm-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}
	.deo-col-sm-3 {
		flex: 0 0 auto;
		width: 25%;
	}
	.deo-col-sm-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
	.deo-col-sm-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}
	.deo-col-sm-6 {
		flex: 0 0 auto;
		width: 50%;
	}
	.deo-col-sm-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}
	.deo-col-sm-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}
	.deo-col-sm-9 {
		flex: 0 0 auto;
		width: 75%;
	}
	.deo-col-sm-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}
	.deo-col-sm-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}
	.deo-col-sm-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}
@media (min-width: 781px) {
	.deo-col-md {
		flex: 1 0 0%;
	}
	.deo-row-cols-md-auto > * {
		flex: 0 0 auto;
		width: auto;
	}
	.deo-row-cols-md-1 > * {
		flex: 0 0 auto;
		width: 100%;
	}
	.deo-row-cols-md-2 > * {
		flex: 0 0 auto;
		width: 50%;
	}
	.deo-row-cols-md-3 > * {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.deo-row-cols-md-4 > * {
		flex: 0 0 auto;
		width: 25%;
	}
	.deo-row-cols-md-5 > * {
		flex: 0 0 auto;
		width: 20%;
	}
	.deo-row-cols-md-6 > * {
		flex: 0 0 auto;
		width: 16.6666666667%;
	}
	.deo-col-md-auto {
		flex: 0 0 auto;
		width: auto;
	}
	.deo-col-md-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}
	.deo-col-md-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}
	.deo-col-md-3 {
		flex: 0 0 auto;
		width: 25%;
	}
	.deo-col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
	.deo-col-md-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}
	.deo-col-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}
	.deo-col-md-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}
	.deo-col-md-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}
	.deo-col-md-9 {
		flex: 0 0 auto;
		width: 75%;
	}
	.deo-col-md-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}
	.deo-col-md-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}
	.deo-col-md-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}
@media (min-width: 1025px) {
	.deo-col-lg {
		flex: 1 0 0%;
	}
	.deo-row-cols-lg-auto > * {
		flex: 0 0 auto;
		width: auto;
	}
	.deo-row-cols-lg-1 > * {
		flex: 0 0 auto;
		width: 100%;
	}
	.deo-row-cols-lg-2 > * {
		flex: 0 0 auto;
		width: 50%;
	}
	.deo-row-cols-lg-3 > * {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.deo-row-cols-lg-4 > * {
		flex: 0 0 auto;
		width: 25%;
	}
	.deo-row-cols-lg-5 > * {
		flex: 0 0 auto;
		width: 20%;
	}
	.deo-row-cols-lg-6 > * {
		flex: 0 0 auto;
		width: 16.6666666667%;
	}
	.deo-col-lg-auto {
		flex: 0 0 auto;
		width: auto;
	}
	.deo-col-lg-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}
	.deo-col-lg-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}
	.deo-col-lg-3 {
		flex: 0 0 auto;
		width: 25%;
	}
	.deo-col-lg-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
	.deo-col-lg-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}
	.deo-col-lg-6 {
		flex: 0 0 auto;
		width: 50%;
	}
	.deo-col-lg-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}
	.deo-col-lg-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}
	.deo-col-lg-9 {
		flex: 0 0 auto;
		width: 75%;
	}
	.deo-col-lg-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}
	.deo-col-lg-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}
	.deo-col-lg-12 {
		flex: 0 0 auto;
		width: 100%;
	}
	.deo-col-lg-5th {
		flex: 0 0 auto;
		width: 20%;
	}
}
